{% extends 'base.html.twig' %}
{% block body %}
	{% if app.user %}
       {% if app.user.title=='administrator' %}
             {% include('security/usernavbar.html.twig') %}
        {% else %}
             {% include('college/usernavbar.html.twig') %}
        {% endif %}
        <!-- Page Wrapper -->
            <div class="page-wrapper">

				<!-- Page Content -->
                <div class="content container-fluid">
					<div class="row">
						<div class="col-md-8 ">

							<!-- Page Header -->
							<div class="page-header">
								<div class="row">
									<div class="col-sm-12">
										<h3 class="page-title">Update Course Info</h3>
									</div>
								</div>
							</div>
							<!-- /Page Header -->

						  {{ form_start(form) }}
								<div class="form-group row">
									<label class="col-lg-3 col-form-label">{{ form_label(form.coursename,'Course Name') }}</label>
									<div class="col-lg-7">
										{{ form_widget(form.coursename) }}
									</div>
                                </div>
							<div class="form-group row">
									<label class="col-lg-3 col-form-label">{{ form_label(form.cshortname,'Course Short Name') }}</label>
									<div class="col-lg-7">
										{{ form_widget(form.cshortname) }}
									</div>
                                </div>
								<div class="form-group row">
									<label class="col-lg-3 col-form-label">{{ form_label(form.credits,'Course Credit') }} &nbsp;</label>
									<div class="col-lg-7">
										{{ form_widget(form.credits) }}
									</div>
								</div>
								<div class="submit-section">
									{{ form_row(form.save) }}
								</div>
							  {{ form_end(form) }}
						</div>
					</div>
                </div>
				<!-- /Page Content -->

            </div>
			<!-- /Page Wrapper -->


    {% endif %}
{% endblock %}