{% extends 'base.html.twig' %}
{% block body %}
    {% if app.user %}
        {% include('security/usernavbar.html.twig') %}
            <div class="page-wrapper">
                <div class="content container-fluid">
                   <div class="page-header" style="padding-top:30px; ">
						<div class="row">
							<div class="col-md-12">
							<div class="welcome-box">
								<div class="welcome-img">
								  {% if  app.user.userimage| length !=0 %}
                                       <img src="{{ asset('/web/uploads/photos/' ~ app.user.userimage) }}" alt=""  />
                                   {% else %}
                                       <img src="{{ asset('img/users.png') }}" alt=""/>
                                   {% endif %}
								</div>
								<div class="welcome-det">
									<h3>Welcome, {{ app.user.name }}</h3>
									<p>{{ "now"|date("F, jS Y ")  }}</p>
								</div>
							</div>
						</div>
                        </div>
                 </div>
 					<div class="row">
						<div class="col-md-3 col-sm-6 col-lg-3 col-xl-6">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon"><i class="fa fa-linux"></i></span>
									<div class="dash-widget-info">
										<h3>{{ findadmin }}</h3>
										<span>Administrator</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-lg-3 col-xl-6">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
									<div class="dash-widget-info">
										<h3>{{ finddept }}</h3>
										<span>Department</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-lg-3 col-xl-6">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon"><i class="fa fa-users"></i></span>
									<div class="dash-widget-info">
										<h3>{{ findHods }}</h3>
										<span>HoDs</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6 col-lg-3 col-xl-6">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon"><i class="fa fa-group"></i></span>
									<div class="dash-widget-info">
										<h3>{{ findstaff }}</h3>
										<span>Staff</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-lg-4 col-xl-6">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon"><i class="fa fa-graduation-cap"></i></span>
									<div class="dash-widget-info">
										<h3>{{ findstudent }}</h3>
										<span>Undergraduate Student</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-lg-4 col-xl-6">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon"><i class="fa fa-graduation-cap"></i></span>
									<div class="dash-widget-info">
										<h3>{{ findstudent }}</h3>
										<span>Undergraduate Student</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 col-lg-4 col-xl-6">
							<div class="card dash-widget">
								<div class="card-body">
									<span class="dash-widget-icon"><i class="fa fa-server"></i></span>
									<div class="dash-widget-info">
										<h3>{{ findproject }}</h3>
										<span>Projects</span>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="middle">
						<div class="row">
							<div class="col-md-6 col-lg-6 col-xl-6 d-flex">
							<div class="card flex-fill">
								<div class="card-body">
									<h4 class="card-title"><span class="text-center">Today Absents</span>  <h5><span>approved </span> &nbsp;<span class="badge bg-success ml-1"  style="border-radius:25px;">{{ absent }}</span> &nbsp;pending <span class="badge bg-danger ml-1" style="border-radius:25px;">&nbsp;{{ pending }}</span></h5></h4>
									{%if display124|length !=0 %}
										{% for display in display124 %}
									<div class="leave-info-box">
										<div class="media align-items-center">
											<a href="#" class="avatar">
												{% if  display.userimage| length !=0 %}
											           <img src="{{ asset('/web/uploads/photos/' ~ display.userimage) }}"/>
												{% else %}
														<img src="{{ asset('img/users.png') }}"/>
												{% endif %}
													</a>
											<div class="media-body">
												<div class="mb-1">{{ display.Emp }}</div>
											</div>
										</div>
										<div class="row align-items-center mt-3">
											<div class="col-6">
												<h6 class="mb-1">{{ display.FRM|date("F jS Y \\a\\t g:ia")  }}</h6>
												<span class="text-sm text-muted">Leave Date</span>
											</div>
											<div class="col-6 text-right">
												{% if display.ST == 'pending'%}
														<h5 class="table-avatar">
													<span class="badge bg-inverse-info">pending by</span>
													<a href="#" class="avatar avatar-xs">
												{% if  display.APPIMAGE| length !=0 %}
											           <img src="{{ asset('/web/uploads/photos/' ~ display.APPIMAGE) }}"/>
												{% else %}
														<img src="{{ asset('img/users.png') }}"/>
												{% endif %}
													</a>

												</h5>
												{% else %}
														<h5 class="table-avatar">
													<span class="badge bg-inverse-success">approved by</span>
													<a href="#" class="avatar avatar-xs">
														{% if  display.APPIMAGE| length !=0 %}
											           <img src="{{ asset('/web/uploads/photos/' ~ display.APPIMAGE) }}"/>
												{% else %}
														<img src="{{ asset('img/users.png') }}"/>
												{% endif %}
													</a>

												</h5>
												{% endif %}
											</div>
										</div>
									</div>
										{% endfor %}
									<div class="load-more text-center">
										<a class="text-dark" href="{{ path('leaves') }}">Load More</a>
									</div>
									{% else %}
									<div class="leave-info-box">
										<span style="color: red;">no pending leave or approved leave requests.</span>
									</div>
									{% endif %}
								</div>
							</div>
						</div>
							<div class="col-md-6 col-lg-6 col-xl-6 d-flex">
							<div class="card flex-fill">
								<div class="card-body">
									<h4 class="card-title">Security Logs <span class="badge bg-success ml-1">{{ displayt }}</span></h4>

										{% if last_activity_at|length !=0 %}
											{% for img in last_activity_at %}
									<div class="leave-info-box">
										<div class="media align-items-center">
											<a href="#" class="avatar">
											{% if  img.APP| length !=0 %}
											           <img src="{{ asset('/web/uploads/photos/' ~ img.APP) }}"/>
												{% else %}
														<img src="{{ asset('img/users.png') }}"/>
												{% endif %}

													</a>
											<div class="media-body">
												<div class="mb-1">{{ img.Emp }}</div>
											</div>
										</div>
										<div class="row align-items-center mt-3">
											<div class="col-6">
												<span class="text-sm text-muted">Last Activity Date</span>
											</div>
											<div class="col-6 text-right">
														<h5 class="table-avatar">
													<span >{{ img.LAT }}</span>
												</h5>
											</div>
										</div>
									</div>
										{% endfor %}
									<div class="load-more text-center">
										<a class="text-dark" href="{{ path('logs') }}">View all logs</a>
									</div>
									{% else %}
									<div class="leave-info-box">
										<span style="color: red;">No logs found.</span>
									</div>
									{% endif %}
								</div>
							</div>
						</div>

						</div>
					</div>

					<div class="last">
						<div class="row">
							<div class="col-md-6 col-sm-4 col-lg-6 col-xl-6">
								<div class="card dash-widget">
                                    <div class="card-header">
                                        <div class="card-title">Head of Department <span class="badge bg-success ml-1" style="border-radius: 25px;">{{ displaystaff|length }}</span></div>
                                    </div>
									{%if displaystaff|length !=0 %}
                                        <div class="card-body">
											{% for display21 in displaystaff %}
                                                             <div class="card dash-widget">
                                                            <div class="card-body">
                                                                <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
                                                                <div class="dash-widget-info">
																    <h4><strong>{{ display21.name }}</strong></h4>
                                                                    <span>{{ display21.department }}</span>
                                                                </div>
                                                            </div>
						                </div>

                                                   {% endfor %}


                                        </div>
										<div class="card-footer" style="text-align: center;">
											<div class="load-more text-center">
										<a class="text-dark" href="{{ path('head') }}">View all HoDs</a>
									      </div>
									{% else %}
										<span style="color: red;">no available HoDs had been registered click Add HoDs to add one.</span>
                                        <div class="card-footer" style="text-align: center;">
											<div class="load-more text-center">
										<a class="text-dark" href="{{ path('head') }}">Add HoDs</a>
									      </div>
										</div>
									{% endif %}
									</div>
									</div>
                                </div>
							<div class="col-md-6 col-sm-4 col-lg-6 col-xl-6">
								<div class="card">
                                    <div class="card-header">
                                        <div class="card-title">Recent Projects <span class="badge bg-success ml-1" style="border-radius: 25px;">{{ display|length }}</span></div>
                                    </div>

									 {%if display|length !=0 %}
                                         <div class="card-body">
                                                   {% for display in display %}
                                                        <div class="card dash-widget">
                                                            <div class="card-body">
                                                                <span class="dash-widget-icon"><i class="fa fa-server"></i></span>
                                                                <div class="dash-widget-info">
																		<h4><strong>{{ display.project }}</strong></h4>
																		<span>{{ display.department }}</span>
                                                                </div>
                                                            </div>
						                </div>
                                                   {% endfor %}


                                        </div>
										<div class="card-footer" style="text-align: center;">
											<div class="load-more text-center">
										<a class="text-dark" href="{{ path('project') }}">View all projects</a>
									      </div>
										</div>
									    {% else %}
										 <span style="color:red;">no available project click Add project to add one.</span>
									     <div class="card-footer" style="text-align: center;">
										<div class="load-more text-center">
										<a class="text-dark" href="{{ path('project') }}">Add Project</a>
									      </div>
										</div>
									    {% endif %}
										</div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
	{% endif %}
{% endblock %}