{% extends 'base.html.twig' %}
{% block body %}
    {% if app.user %}
       {% if app.user.title=='administrator' %}
             {% include('security/usernavbar.html.twig') %}
        {% else %}
             {% include('college/usernavbar.html.twig') %}
        {% endif %}
            <div class="page-wrapper">
                <div class="content container-fluid">
                 <div class="page-header" style="padding-top: 20px;">
						<div class="row align-items-center">
							<div class="col">
                               <h3 class="page-title">Programme Registered</h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
									<li class="breadcrumb-item active">Programme</li>
								</ul>
							</div>
                           <div class="col-auto float-right ml-auto">
								<a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myForm"><i class="fa fa-plus"></i> Add Programme</a>
                             </div>
                            <!---START TEST--->
                            <div class="alert col-md-5 col-lg-5 col-sm-12 col-xs-12 offset-4">
                                          {% for messages in app.flashes('danger') %}
                                                   <div class="offset-2" style="padding-bottom: 2%;">
                                                   <span style="color:red;">
                                                     {{ messages }}
                                                   </span>
                                                             </div>
                                               {% endfor %}
                                            </div>
                            <div class="modal fade" id="myForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                              <div class="modal-dialog modal-md" >
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel" style="padding-left:40%;">Add Programme</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                   <div class="modal-body" >
                                        {% if finddept|length != 0 %}
                                      
                                    <form method="post">
                                        <div class="row g-6" style="padding-bottom:3%;">
                                          <div class="col" >
                                                <label for="pname">Programme Name <span style="color:red;">*</span></label>
                                                <input type="text" name="pname" class="form-control" placeholder="Programme Name" aria-label="Programme name" id="inputGroup-sizing-default">
                                          </div>
                                        </div>
                                         <div class="row g-6" style="padding-bottom:3%;">
                                          <div class="col" >
                                                <label for="psname">Programme Short Name <span style="color:red;">*</span></label>
                                                <input type="text" name="psname" class="form-control" placeholder="Programme Short Name" aria-label="Programme Short name" id="inputGroup-sizing-default">
                                          </div>
                                        </div>
                                          {% if app.user.title=='administrator' %}
                                          <div class="row g-6" style="padding-bottom:3%;">
                                           <div class="col">
                                                     <label for="Department">Department</label>
                                                      <select class="form-control" id="dept" name="deptname">
                                                            <option selected>Select Department</option>
                                                           {% for dept in finddept %}
                                                            <option value="{{ dept.name }}">{{ dept.name }}</option>
                                                            {% endfor %}
                                                      </select>
                                                </div>
                                        </div>
                                        {% endif %}
                                  <div class="modal-footer" style="padding-left:40%;justify-content: flex-start;">
                                    <button type="submit" class="btn btn-primary btn-block" style="width:140px;height:40px;border-radius:30px;">Submit</button>
                                  </div>
                                      </form>
                                        {% else %}
								   <div class="alert alert-warning">No department register at this moment, please wait a moment..</div>
                               {% endif %}

                                  </div>
                                </div>
                              </div>
                            </div>

                            <!--END TEST-->
                        </div>
                    </div>

                    <div class="row">
                        {% if app.user.title=='administrator' %}
                        <div class="col-md-3" style="padding-top: 3%;">
								<div class="stats-info">
									<h6 class="text-success">Programme Registered</h6>
									<h4>{{ prog}}</h4>
								</div>
							</div>
                        {% endif %}
                         {% if app.user.title=='HoDs' %}
                        <div class="col-md-3" style="padding-top: 3%;">
								<div class="stats-info">
									<h6 class="text-success">Programme Registered</h6>
									<h4>{{ progrec }}</h4>
								</div>
							</div>
                        {% endif %}
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="zero_config" class="table table-striped custom-table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Programme Name</th>
                                                        <th>Programme Short Name</th>
                                                        {% if app.user.title=='administrator' %}
                                                        <th>Department</th>
                                                        {% endif %}
                                                         <th class="text-right">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% if app.user.title == 'administrator' %}
                                                   {% for temp,programme in findprogramme %}
                                                    <tr class="odd">
                                                        <td>{{ temp + 1 }}</td>
                                                        <td>{{ programme.PNAME}}</td>
                                                        <td>{{ programme.short}}</td>
                                                        <td>{{ programme.DNAME}}</td>
                                                        <td>
                                                         <a href="/{{ programme.ID }}/edit/programme" >
                                                             <i class="fa fa-edit font-18" style="color:darkorange;"></i>
                                                              </a>&nbsp;
                                                            <a href="/{{ programme.PNAME }}/{{ programme.ID }}/Area" >
                                                             <i class="fa fa-plus font-18" style="color:green;"></i>
                                                              </a>&nbsp;
                                                            <a  href="/{{ programme.ID }}/remove/available"><i class="fa fa-trash-o font-18" style="color:red;"></i></a>
                                                        </td>

                                                     </tr>
                                                  {% endfor %}
                                                {% endif %}
                                                 {% if app.user.title == 'HoDs' %}
                                                   {% for temp,programme in findprogramme %}
                                                       {% if programme.idr==dept %}
                                                    <tr class="odd">
                                                        <td>{{ temp + 1 }}</td>
                                                        <td>{{ programme.PNAME}}</td>
                                                        <td>{{ programme.short}}</td>
                                                        <td>
                                                         <a href="/{{ programme.ID }}/edit/programme" >
                                                             <i class="fa fa-edit font-18" style="color:darkorange;"></i>
                                                              </a>&nbsp;
                                                            <a href="/{{ programme.PNAME }}/{{ programme.ID }}/Area" >
                                                             <i class="fa fa-plus font-18" style="color:green;"></i>
                                                              </a>&nbsp;
                                                            <a  href="/{{ programme.ID }}/remove/available"><i class="fa fa-trash-o font-18" style="color:red;"></i></a>
                                                        </td>

                                                     </tr>
                                                       {% endif %}
                                                  {% endfor %}
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- End Container fluid  -->

        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->

        <script>
        /****************************************
         *       Basic Table                   *
         ****************************************/
        $('#zero_config').DataTable();
    </script>

            {% endif %}
{% endblock %}